
<div class="review-post list-group-item">
  <p class="list-group-item-text">Author:<%= review.firstName %> <%= review.lastName %></p>
  <p class="list-group-item-text"><br><%= review.review %></p>
  <p class="list-group-item-text"><br><%= review.score %></p>
  <p class="list-group-item-text"><br><%= review.date %></p>
 </div>
