<!DOCTYPE html>
<html>
<head>
  <title>Fence Company</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/b3d4dba44a.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">  
  <link href="css/navbar-fixed-side.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  
</head>
<body class="admin-background">

<div class="container-fluid navbar-left">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar-styling navbar navbar-default navbar-fixed-side">
        <i class="fa fa-tachometer" aria-hidden="true">Dashboard</i>
          <ul class='admin-bullets'>
            <li class="li-admin-tags"><a class="a-admin-tags" href="/">Website</li></a>
            <li class="li-admin-tags"><a class="a-admin-tags" href="/reviews">Reviews</li></a>
            <li class="li-admin-tags"><a class="a-admin-tags" href="/contact-us">Contact Us</li></a>
          </ul>      
      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">

    </div>
  </div>
</div>


<div class="row leads-reviews">
    <div class="col-md-6 list-group">
      <h2>Reviews</h2>
      <% reviews.forEach((review) => { %>
        <div class="review-post list-group-item">
          <p class="list-group-item-text">Author: <%= review.firstName %> <%= review.lastName %></p>
          <p class="list-group-item-text"><%= review.review %></p>
          <p class="list-group-item-text"><%= review.score %></p>
          <p class="list-group-item-text"><%= review.date %></p>
          <p class="list-group-item-text"><%= review.approved %></p>
          <% if(review.approved){ %>
            <a href="/unapprove-reviews/<%= review._id %>" class="approve-button">Unapprove</a>
          <% } else{ %>
            <a href="/approve-reviews/<%= review._id %>" class="approve-button"><button type="button" class="btn btn-success">Approve</button></a>
            <a href="/delete-reviews/<%= review._id %>" class="approve-button"><button type="button" class="btn btn-danger">Decline</button></a>
          <% } %>
         </div>
      <% }) %>
    </div>
    
    <% if (leads){ %>
      <div class="col-md-6 list-group">
        <h2>Leads</h2>
        <% leads.forEach((lead) => { %>
          <div class="lead-post list-group-item">
            <p class="list-group-item-text">First/Last Name:<%= lead.firstName %> <%= lead.lastName %></p>
            <p class="list-group-item-text">Email:<%= lead.email %></p>
            <p class="list-group-item-text">Phone:<%= lead.phone %></p>
            <p class="list-group-item-text">Repair:<%= lead.repair %></p>
            <p class="list-group-item-text">Fence Type:<%= lead.fenceType %></p>
            <p class="list-group-item-text">Date Completed:<%= lead.dateCompleted %></p>
          </div>
        <% }) %>
      </div>
    <% } %>
</div> 




<script type="text/javascript" src="/js/admin.js"></script>